<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Developer Note:</h5>
                <p class="grey-text text-lighten-4">This is Web scrapping project and developed by Vinayak Shavi. LinkedIn profile link is given</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/vinayak-shavi-705906129/" target="_blank">LinkedIn Profile</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/feed/update/urn:li:activity:6609821250233692160/" target="_blank">Python Certification</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
<!--            <div class="container">-->
<!--            © 2014 Copyright Text-->
<!--            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
<!--            </div>-->
          </div>
        </footer>